.form {
  width: 300px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.507);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.label {
  display: flex;
  flex-direction: column;
}

.label:first-child {
  margin-bottom: 25px;
}

.input {
  width: 150px;
  margin-top: 5px;
  padding: 5px;

  font-size: 15px;

  border: 1px solid grey;

  background: #fff9f961;
  backdrop-filter: blur(20px);
}

.input:hover,
.input:focus {
  outline: 2px solid #2196f3;
  border: 1px solid transparent;
}

.button {
  margin-top: 10px;
  padding: 5px;

  font-size: 15px;
  border: 1px solid grey;
  border-radius: 15px;

  cursor: pointer;

  transition: box-shadow 250ms linear;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
}
